.newEvent{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  &__direction{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #006837;
    outline: none;
  }
}